.button-group .button {
    -fx-font-size: 22px;
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: "#ff00FF";
    -fx-pref-width: 130px;
    -fx-pref-height: 45px;
}

.button-group .button:hover {
    -fx-background-color: "#CCCCCC";
    -fx-text-fill: "#FFFFFF";
    -fx-cursor: hand;
}

.button-group .button:pressed {
    -fx-background-color: "#BBBBBB";
}